<div class="card">
    <img class="card__image" src="https://via.placeholder.com/150" alt="<%= product.name %>" />
    <h3 class="card__title"><%= product.name %></h3>
    <p class="card__description"><%= product.description %></p>
    <p class="card__price">$<%= product.price %></p>
</div>
