<nav>
  <ul>
    <li class="navigation__item"><a href="/">Strona główna</a></li>
    <li class="navigation__item navigation__cart">
      <span>Cart</span>
      <img class="navigation__cart" src="https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/shopping-cart.svg" alt="Cart">
      <span class="navigation__badge"><%= cartCount %></span>
    </li>
  </ul>
</nav>
