<%- include('partials/navigation', { cartCount: cartCount }) %>

<form action="/add" method="POST">
  <div class="form__group">
    <label for="name">Nazwa produktu</label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form__group">
    <label for="description">Opis produktu</label>
    <textarea name="description" id="description" required></textarea>
  </div>
  <div class="form__group">
    <label for="price">Cena</label>
    <input type="number" name="price" id="price" step="0.01" required>
  </div>
  <button type="submit">Dodaj produkt</button>
</form>
