<%- include('partials/navigation', { cartCount: cartCount }) %>

<ul>
    <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
            <li>
                <%- include('partials/card', { product: product }) %>
            </li>
        <% }) %>
    <% } else { %>
        <li>Brak produktów</li>
    <% } %>
</ul>
